<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <h3>
        <a
          class="logo"
          [routerLink]="['home']"
          routerLinkActive="router-link-active"
          >shortURL</a
        >
      </h3>
    </button>
    <span class="example-spacer"></span>
    <div class="menu">
      <div class="is-hidden-desktop is-hidden-tablet" id="menu">
        <input
          (click)="onWrapper()"
          type="checkbox"
          class="checkbox-menu"
          id="active"
        />
        <div class="bars">
          <label id="menu-bar" for="active" class="menu-btn">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
          </label>
        </div>
        <div
          [class.activewrap]="active_wrap"
          [class.disactivewrap]="disactive_wrap"
          class="wrapper"
        >
          <ul>
            <li class="header-li" (click)="onMenuItemClick()">
              <a routerLink="home" routerLinkActive="router-link-active">
                Home
              </a>
            </li>
            <li class="header-li" (click)="onMenuItemClick()" *ngIf="!signedin" color="primary">
              <a routerLink="signup" routerLinkActive="router-link-active">
                Sign Up
              </a>
            </li>
            <li class="header-li" (click)="onMenuItemClick()" *ngIf="!signedin" color="primary">
              <a routerLink="signin" routerLinkActive="router-link-active">
                Sign In
              </a>
            </li>
            <li class="header-li" (click)="onMenuItemClick()" *ngIf="signedin" color="primary">
              <a
                [routerLink]="['myUrls']"
                routerLinkActive="router-link-active"
              >
                My URLs
              </a>
            </li>
            <li *ngIf="signedin" class="header-li" (click)="onMenuItemClick()">
              <a routerLink="home" routerLinkActive="router-link-active">
               <mat-icon>account_circle</mat-icon>
              </a>
            </li>
            <li class="header-li">
              <a (click)="onSignOut()" *ngIf="signedin"> Sign Out </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu-bg" id="menu-bg"></div>

      <!-- menu pc -->

      <div class="is-hidden-mobile menu-desktop">
        <a class="header-li" [routerLink]="['home']" routerLinkActive="router-link-active">
        <button mat-button>
          Home
          </button>
        </a>
        <a class="header-li" [routerLink]="['myUrls']" routerLinkActive="router-link-active">
        <button *ngIf="signedin" mat-button>
          myURLs
        </button>
      </a>
      <a class="header-li" routerLink="./signup">
        <button *ngIf="!signedin" mat-button>
        Sign Up
        </button>
      </a>
        <a class="header-li" routerLink="signin" routerLinkActive="router-link-active">
          <button *ngIf="!signedin" mat-button>Login</button>
        </a>
        <button class="header-li" (click)="onSignOut()" *ngIf="signedin" mat-button>
          Sign Out
        </button>
      </div>
    </div>
  </mat-toolbar>
</p>
