.myUrls-title {
  color: #2eb086;
}
.list-urls {
  color: white;
}
.url-title {
  color: #2eb086;
}

.item {
  word-break: break-all;
}
.item:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .b-table .table-wrapper.has-mobile-cards tr td {
    display: flex;
    justify-content: space-between;
    text-align: right;
    border-bottom: 1px solid #f5f5f5;
    align-items: flex-start;
  }

  .target {
    max-width: fit-content;
    padding: 10px;
  }
  .item {
    word-break: break-all;
  }
}
#bar-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}

.footer-infos{
  font-weight: 500;
  color: #313552;
}

.modal-card{
  
  width: 80vw;

}
.modal-card-title{
  font-weight: 500;
}