<mat-drawer-container   class="example-container"   autosize>
    <mat-drawer [opened]="!isMobile" #drawer class="example-sidenav" mode="side">
       <ul>
          <li>
              Home
          </li>
          <li>
              Users
          </li>
          <li>
              Posts
          </li>
       </ul>
       
    </mat-drawer>
    <div  class="example-sidenav-content"  (click)="drawer.toggle()" >
      <div *ngIf="isMobile" class="btn" (click)="onClick()">
  
    
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"
      ></div>
  </div>
    </div>
 

  </mat-drawer-container>