
.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {

    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .btn {
    cursor: pointer;
    margin: 20px;
  }
  
  .icon-bar {
    width: 22px;
    height: 2px;
    background: black;
    margin: 3px;
    position: relative;
  }
  ul{
    list-style-type: none;
  }