.title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-login {
  margin-top: 140px;
}
.error {
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .card {
    margin: auto 7vw;
    }
  }
  
  @media screen and (min-width: 768px) {
    .card {
      margin: auto 30vw;
      }
    }