mat-card {
  margin: 30px;
}
.link-input {
  display: block;
}
.link {
  cursor: pointer;
}
.div-search {
  display: flex;
  flex-wrap: wrap;
}
.shorten-btn {
  color: white;
  position: absolute;
  top: -11px;
  right: -3px;
}
.shortener {
  width: 603px;
}
.short-man {
  padding-right: 20px;
  margin-top: 48px;
}
.main {
  align-items: center;
  margin-top: 15px;
}
.insert {
  margin-bottom: 10px;
  color: #2eb086;
  font-weight: bolder;
  font-size: 1.2em;
}
.title {
  font-weight: 500;
  margin: 55px;
  color: #313552;
  margin-top: -89px;
}
.copy-btn {
  margin-left: 20px;
}
.columns {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .title {
    margin-top: 20px;
  }
}

.gen-link{
  display: flex;
  align-items: center;
}
.ft-green-tick{
  margin-right: 10px;
}
/* animation-success-icon */

 @supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
  .tick {
     stroke-opacity: 0;
     stroke-dasharray: 29px;
     stroke-dashoffset: 29px;
     animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
     animation-delay: .6s
 }

 .circle {
     fill-opacity: 0;
     stroke: #2eb086;
     stroke-width: 16px;
     transform-origin: center;
     transform: scale(0);
     animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
 }   
}

@keyframes grow {
 60% {
     transform: scale(.8);
     stroke-width: 4px;
     fill-opacity: 0;
 }
 100% {
     transform: scale(.9);
     stroke-width: 8px;
     fill-opacity: 1;
     fill: #2eb086;
 }
}

@keyframes draw {
 0%, 100% { stroke-opacity: 1; }
 100% { stroke-dashoffset: 0; }
}

