mat-card{
    margin: 30px;

}
.link-input {
    display: block;
}
.link{
    cursor: pointer;
}
.div-search {
    display: flex;
    flex-wrap: wrap;
  }
  button {
      color: white;
    position: absolute;
    top: -11px;
    right: -3px;
  }
  .shortener{
      width: 603px;
  }
  .short-man{
    padding-right: 20px;
    margin-top: 48px;
}
.main{
    align-items: center;
    height: 100vh;
}
.insert{
    margin-bottom: 10px;
    color: #2eb086;
    font-weight: bolder;
    font-size: 1.2em;
}
.title{
    position: absolute;
    margin: 55px;
    color: white;
    margin-top: -89px;
}
.copy-btn{
    margin: 139px;
}

@media screen and (max-width: 768px){
    .title{
margin-top: 209px;
    }
}