<div class="main columns">
  <div class="column is-half-desktop is-full-mobile">
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#2eb086"
      type="ball-scale-multiple"
    ></ngx-spinner>
    <div>
      <h2 class="title" color="primary">Life is too short, for long URLs...</h2>
    </div>
    <mat-card>
      <p class="insert">Insert a long URL</p>
      <div class="search">
        <mat-form-field class="example-full-width link-input" appearance="fill">
          <mat-label>URL</mat-label>
          <input
            [(ngModel)]="insertedURL"
            matInput
            placeholder="URL"
            value=""
          />
          <button
            color="accent"
            class="button shorten-btn"
            (click)="
              this.signedin
                ? onInsertedURLlogged(insertedURL, token)
                : onInsertedURL(insertedURL)
            "
            mat-raised-button
          >
            Shorten
          </button>
        </mat-form-field>
        <div *ngIf="genSlug" class="res">
          <div>
            <p>Edit link</p>
            <mat-form-field>
              <input matInput type="text" placeholder="title" name="" id="">
            </mat-form-field>
            <button mat-button>Save</button>
          </div>
          <div *ngIf="genSlug" class="gen-link">   
            <div class="slug">

              <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 48 48" aria-hidden="true">
                <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
                <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
              </svg>
              <a
              target="_blank"
              [routerLink]="['../', genSlug]"
              routerLinkActive="router-link-active"
              >shortangular.netlify.app/{{ genSlug }}</a
              >
            </div> 
            <div class="copy-btn-div">
              <button name="copy" ngDefaultControl (click)="copied()" class="copy-btn" [(ngModel)]="copy" color="primary" [cdkCopyToClipboard]="link" mat-button>{{copy}}</button>
            </div>
            
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="column is-half-desktop short-man">
    <img
      src="assets/images/shorturl-man.svg"
      alt=""
      width="600px"
      sizes=""
      srcset=""
    />
  </div>
</div>
